.build/
/build
build/
/conf_backup
/conf/connectors/*.yml
/conf/gateway_connections.json
/conf/.password_verification
/conf/strategies/*.yml
/conf/*.yml
/data
/dist
dist/
.DS_Store
*.egg-info/
.eggs/
/.git
/.github
/logs
*.pyc
__pycache__/
*.pyo
.venv
