
.\#*
\#*\#
atlassian-ide-plugin.xml
*.bak
/build
# Cert files
/certs
/**/.chain_cookie
**/.claude/settings.local.json
# CMake
cmake-build-debug/
com_crashlytics_export_strings.xml
/conf_backup
/cover/
.coverage
# Coverage
/coverage_html_report/
coverage.xml
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
crashlytics-build.properties
# Crashlytics plugin (for Android Studio and IntelliJ)
crashlytics.properties
*.crt
# Cython objects
/data
# Debug console
.debug_console_ssh_host_key
debug.log
# dev only
/dist
# Distribution files
# Documentation build dir
/documentation/site/
**/.DS_Store
/*.egg-info
# emacs files
emails.txt
.env
env/
# External SDK files
fabric.properties
## File-based project format:
.history/
/hummingbot/**/*.c
!/hummingbot/core/cpp/*.cpp
/hummingbot/**/*.cpp
/hummingbot/wallet/*.c
/hummingbot/wallet/*.cpp
/hummingbot/wallet/ethereum/*.c
/hummingbot/wallet/ethereum/*.cpp
# .idea
/.idea
/**/.injective_cookie
/installation/docker-commands/hummingbot_files
# IntelliJ
.ipynb_checkpoints
*.iws
# JIRA plugin
*.key
# Local files
# local venv
*.log
# misc
/notebooks
/out/
*.pem
## Plugin-specific files:
portfolio_value.csv
*.pyc
__pycache__
__pycache__/
/**/*.pyd
.pytest_cache/
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
/**/*.so
/src
*.srl
/test/**/*.cpp
.venv/
.vscode/
# VSCode
*.whl
